# This is Git's per-user configuration file.

#   fix whitespace errors
[apply]
    whitespace = fix

[core]
#   always exclude files in ~/.gitignore
    excludesfile = ~/.gitignore

#   mark these things as whitespace errors
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

#   don't trust computer's time (safer on MacOS)
    trustctime = false

#   cache untracked to make commands faster
    untrackedCache = true

#   set diff-so-fancy as the pager
[pager]
    diff = "diff-so-fancy | less --tabs=4 -RFX"
    show = "diff-so-fancy | less --tabs=4 -RFX"

#   diff-so-fancy settings
[diff-so-fancy]
    stripLeadingSymbols = false

#   use colored git outputs where capable
[color]
    ui = auto

#   better colors for diff-so-fancy
[color "diff-highlight"]
    oldNormal = "red bold"
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"

[color "diff"]
    meta = "11"
    frag = "magenta bold"
    commit = "yellow bold"
    old = "red bold"
    new = "green bold"
    whitespace = "red reverse"
    newMoved = "cyan"
    oldMoved = "blue"

[color "branch"]
    current = "yellow reverse"
    local = "yellow"
    remote = "green"

[color "status"]
    added = "yellow"
    changed = "green"
    untracked = "cyan"


#   add git-together config
[include]
	path = ~/.git-together

#   the user whose credentials will go into all commits
[user]
	name = Marc Miller
	email = marc.miller.4@us.af.mil

#   Detect copies as well as renames
[diff]
    renames = copies


    
#   allow 'gis.io:' vs 'git@gitlab.devops.geointservices.io:' for SSH to Geoint Services
[url "git@gitlab.devops.geointservices.io"]
    insteadOf = "gis.io:"
